<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30001">
		<setting id="check_time" label="30002" default="5" type="slider" range="1,5,120" option="int"/>
		<setting id="reactionStartPlaying" label="30003" type="text" default=""/>
		<setting id="reactionStopPlaying" label="30004" type="text" default=""/>
		<setting id="reactionScreenSaverOn" label="30005" type="text" default=""/>
		<setting id="reactionScreenSaverOff" label="30006" type="text" default=""/>		
	</category>		
</settings>
